.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: mediumaquamarine;
  margin-left: 40px;

}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

li span {
  /*display: inline-block;*/
  text-decoration: underline;
}

/*h4 {
  display: inline-block;
  margin-bottom: 0px;
}*/

li {
  display: inline-block;
  margin-right: 10px;
}

ul {
  margin-right: 40px;
}
